
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&family=Roboto:wght@300;400&display=swap');

@font-face {
  font-family: 'Genome Thin';
  src: url('../fonts/genome_thin.otf');
}

@font-face {
  font-family: 'Courier Prime Code';
  src: url('../fonts/courier_prime_code.ttf');
}

@font-face {
  font-family: 'Send Flowers';
  src: url('../fonts/send_flowers.ttf');
}

@keyframes hover-line-bottom-enter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes hover-line-bottom-leave {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes addUnderline {
  0%{
    background-color: #731702;
  }

  50%{
    background-color: green;
  }

  100%{
   background-color: #374151;
  }
}

:root {
  --dark: none;
  --light: none;
  --primary: none;
  --primary-darker: none;
  --primary-lighter: none;
}

* {
  position: relative;
  transition: outline linear 50ms, border-color linear 50ms, fill linear 50ms, color linear 50ms, background-color linear 50ms, scale linear 50ms;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.5rem;
  color: var(--dark);
  z-index: 0;
}

body {
  overflow-x: hidden;
}

button {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

svg {
  fill: var(--dark);
}

svg.fill-light {
  fill: var(--light);
}

svg.fill-dark {
  fill: var(--dark);
}

svg.fill-primary-lighter {
  fill: var(--primary-lighter);
}

svg.fill-primary {
  fill: var(--primary);
}

svg.fill-primary-darker {
  fill: var(--primary-darker);
}

.title {
  font-family: 'Outfit', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.75rem;
}

.title-slin {
  font-family: 'Outfit', sans-serif;
  letter-spacing: 0.25px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.title-alter {
  font-family: 'Outfit', sans-serif;
  letter-spacing: 0.25px;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.5rem;
  color: var(--light);
}

.text-info {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--dark);
}

.text-info-alter {
  font-family: 'Roboto', sans-serif;
  font-size: 1.05rem;
  color: var(--light);
}

button, input:is([type="button"]) {
  outline: none;
  border: none;
  color: inherit;
  background-color: inherit;
}

#loading-screen {
  position: fixed;
  z-index: 99999;
  background-color: #f2f2f2;
}

#main-menu {
  position: fixed;
  max-height: 100vh;
  box-shadow: 0px 0px 10px 0px var(--dark);
  z-index: 99998;
  background-color: var(--light);
}

#retracted-main-menu-lsm {
  position: fixed;
  top: 0;
  right: 0;
  width: max-content;
  height: 100%;
  border-radius: 20px 0 0 20px;
  box-shadow: 0px 0px 10px 0px var(--dark);
  z-index: 99998;
  background-color: var(--light);
}

.retractable-menu-option {
  margin: 10px 0;
}

.retractable-menu-retractor {
  border: none;
  color: inherit;
  background-color: inherit;
}

.main-menu-link, .main-menu-link:any-link {
  outline: none;
  padding: 20px 30px;
  font-family: 'Courier Prime Code';
  text-decoration: none;
  color: inherit;
}

.hover-color-change:hover, .hover-color-change:focus-within {
  color: var(--light);
  background-color: var(--primary-lighter);
}

.hover-line-bottom {
  position: relative;
}

.hover-line-bottom::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 1px;
  background-color: var(--primary-lighter);
  animation: 100ms ease hover-line-bottom-leave;
}

.hover-line-bottom:hover::after, .hover-line-bottom:focus-within::after {
  width: 100%;
  animation: 100ms ease hover-line-bottom-enter;
}

.login-link {
  margin: 0 20px;
  border-radius: 10px;
  color: var(--light) !important;
  background-color: var(--primary-lighter);
}

.login-link-expanded {
  color: var(--light) !important;
  background-color: var(--dark);
}

.login-link-expanded:hover, .login-link-expanded:focus-within {
  background-color: var(--primary-lighter);
}

#main-banner {
  background-color: var(--dark) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  min-height: 100vh;
  color: var(--light);
}

.carousel {
  padding-left: 0;
  padding-right: 0;
  background-color: inherit;
  overflow: hidden;
}

.carousel-previous-button, .carousel-next-button {
  cursor: pointer;
}

.carousel-previous-button {
  position: relative;
  box-shadow: 0 0 8px 0 var(--dark);
  z-index: 1;
}

.carousel-next-button {
  position: relative;
  box-shadow: 0 0 8px 0 var(--dark);
  z-index: 1;
}

.carousel-previous-button *, .carousel-next-button * {
  position: relative;
  z-index: 1;
}

.carousel-previous-button::after {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 20px);
  height: calc(100% + 40px);
  background-color: inherit;
}

.carousel-next-button::after {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  right: -20px;
  width: calc(100% + 20px);
  height: calc(100% + 40px);
  background-color: inherit;
}

#main-footer {
  position: relative;
  z-index: -1;
}

#main-footer-credits {
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.icon-footer{
  width: 25px;
}

.icon-footer-large{
  width: 35px;
  cursor: pointer;
}

.btn-banner {
  align-items: center;
  appearance: none;
  background-color: var(--light);
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: var(--dark);
  cursor: pointer;
  display: inline-flex;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  touch-action: manipulation;
}

.btn-banner:hover, .btn-banner:focus-within {
  background: #F6F9FE;
}

.btn-banner:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.btn-banner:focus {
  outline: none;
  border: 2px solid rgb(173, 167, 167);
}

.btn-banner:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn-banner:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.btn-banner:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn-banner:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.btn-banner:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.card {
  margin: 10px;
  /*border: 2px solid var(--dark);*/
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.card-image {
  padding: 10px;
  border-radius: 99999px;
}

.card-remove-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin: 5px;
  border-radius: 99999px !important;
  border-width: 2px !important;
  border-style: solid !important;
  padding: 5px;
  background-color: var(--light);
  z-index: 1;
}

.modify{
  position: absolute;
  top: 0;
  display: flex;
  margin-left: 120px;
  margin-right: 90px;
  z-index: 1;
  padding: 15px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.btn-card {
  width: 100%;
  padding: 10px 20px;
  font-family: 'Courier Prime Code';
  text-decoration: none;
  text-align: center;
  color: var(--light);
  background-color: var(--dark);
}

.card-symbol{
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  border-radius: 10px;
  border: solid var(--dark);
  height: 100%;
  padding: 8px;
  width: 340px;
  height: 340px;
}

.whatsapp-button {
  position: fixed;
  height: 80px;
  width: 80px;
  bottom: 20px;
  right: 20px;
  border-radius: 99999px;
  overflow: hidden;
  z-index: 1;
}

.whatsapp-button:hover, .whatsapp-button:focus-within {
  scale: 110%;
}

.visible{
  opacity: 1;
  transition: opacity 1.5s ease;
}

.p-footer{
  padding: 15px;
  overflow: hidden;
}

input.button-sign {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.05rem;
  padding: 0.85rem 1rem;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.15s;
  transition-property: background-color;
  
}

.button-sign:hover {
  background-color: #374151;
}

.no-overflow{
  overflow: hidden;
}

.gap-1{
  gap: 10px;
}

.gap-2{
  gap: 20px;
}

.gap-3{
  gap: 25px;
}

.link-footer{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: var(--light);
  position: relative;
  
}

.link-footer::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: white;
  transform-origin: right;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  
}

.link-footer:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}

.sign{
  border: none;
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  border-radius: 20px;
  width: 250px;
}

.blur-effect{
  box-shadow: 0px 0px 10px 0px var(--dark);
}

#login-main-banner {
  background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../img/login_background.webp") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  color: var(--light);
}

.text-input-wrapper, .text-input-wrapper-error {
  border-radius: 99999px;
  padding: 5px 10px;
}

.text-input-wrapper {
  border: 1px solid var(--dark);
}

.text-input-wrapper-error {
  border: 1px solid red; /*!change*/
}

.text-input-wrapper:focus-within, .text-input-wrapper-error:focus-within {
  outline: 2px solid var(--primary-lighter);
}

input.text-input {
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}


input.submit-button {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 99999px;
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  color: var(--light);
  background-color: var(--primary-lighter);
  cursor: pointer;
}

input.submit-button:focus-within {
  outline: 2px solid var(--primary-lighter);
}

.forgot-password-link:any-link {
  outline: none;
  padding: 2px;
  font-size: 0.75rem;
}

.forgot-password-link:focus-within {
  outline: 2px solid var(--primary-lighter);
}

.hidden{
  opacity: 0;
}

.marker {
  display: block;
}

.bgDark {
  background-color: var(--dark);
}

.bgLight {
  background-color: var(--light);
}

.bgPrimary {
  background-color: var(--primary);
}

.bgPrimaryDarker {
  background-color: var(--primary-darker);
}

.bgPrimaryLighter {
  background-color: var(--primary-lighter);
}

.dark {
  color: var(--dark);
}

.light {
  color: var(--light);
}

.primary {
  color: var(--primary);
}

.primaryDarker {
  color: var(--primary-darker);
}

.primaryLighter {
  color: var(--primary-lighter);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.gap-iframe {
  gap: 50%;
}

.no-overflow{
  overflow: hidden;
}

.gap-1{
  gap: 10px;
}

.gap-2{
  gap: 20px;
}

.gap-3{
  gap: 25px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sign{
  border: none;
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  border-radius: 20px;
  width: 250px;
}

.blur-effect{
  box-shadow: 0px 0px 7.5px black;
}

.m-b-footer{
  margin-bottom: 10px;
}

@media only screen and (min-width: 300px) {

  .btn-min{
      background-color: #111827;
      border: 1px solid transparent;
      border-radius: 0.75rem;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
      font-size: 1.05rem;
      font-weight: 600;
      line-height: 1rem;
      padding: 0.70rem 0.85rem;
      text-align: center;
      text-decoration: none;
      transition-duration: 0.15s;
      transition-property: background-color;
  }

  .input-min{
    border: none;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    border-radius: 20px;
    width: 175px;
  }

  .m-top{
    margin-top: 3%;
  }

}
@media only screen and (min-width: 500px) {
  .modify{
    position: absolute;
    top: 0;
    display: flex;
    margin-left: 235px;
    margin-right: 90px;
    z-index: 1;
    padding: 15px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }
  
}

@media only screen and (min-width: 700px) {
  .modify{
    position: absolute;
    top: 0;
    display: flex;
    margin-left: 235px;
    margin-right: 90px;
    z-index: 1;
    padding: 15px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }
  
}


@media only screen and (min-width: 1200px) {

  .modify{
    position: absolute;
    top: 0;
    display: flex;
    margin-left: 120px;
    margin-right: 90px;
    z-index: 1;
    padding: 15px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }


  
}

@media only screen and (min-width: 1800px) {

  .sign{
    border: none;
    font-family: 'Roboto', sans-serif;
    padding: 14.5px;
    border-radius: 20px;
    width: 250px;
  }
  input.button-sign {
      background-color: #111827;
      border: 1px solid transparent;
      border-radius: 0.75rem;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.25rem;
      padding: 0.85rem 1rem;
      text-align: center;
      text-decoration: none;
      transition-duration: 0.15s;
      transition-property: background-color;
      
    }

    .m-top{
      margin-top: 15%;
    }
  
  
}



.error{
  display: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FDCAC4;
  color: #ED6160;
}



.login {
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  color: #363636;
  cursor: pointer;
  font-size: 1rem;
  line-height: 0.5;
  padding: calc(.5em - 1px) 1em;
  text-align: center;
  overflow: hidden;
  transition: background-color 0.5s
}


.login:hover {
  background-color: #111827;
}

.bordered-action-button {
  border-radius: 10px;
  border: 3px dashed var(--dark);
}

.bordered-action-button, .no-border-action-button {
  cursor: pointer;
}

.bordered-action-button > svg, .no-border-action-button > svg {
  fill: var(--dark);
}

.bordered-action-button:hover, .bordered-action-button:focus-within {
  border-color: var(--primary-lighter);
  border-style: solid;
}

.bordered-action-button:hover > svg,
.no-border-action-button:hover > svg,
.bordered-action-button:focus-within > svg,
.no-border-action-button:focus-within > svg {
  fill: var(--primary-lighter);

}

.masked-input {
  outline: none;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: transparent;
}

.masked-input:focus-within {
  border-color: var(--primary-lighter);
}

.masked-input-no-decoration {
  outline: none;
  border: none;
  background-color: transparent;
}

.container-overflow{
  max-height: 120px;
  overflow-y: scroll;
  border: solid black 1px;
  border-radius: 10px;
  padding: 10px;
}

.invisible{
  display: none;
}

.input-register{
  border: none;
}

.radius {
  border-radius: 20px;
}

#floating-action-button {
  position: absolute;
  border-width: 2px !important;
  border-style: solid !important;
  padding: 10px 20px;
  background-color: var(--light);
  z-index: 1;
}

#color-palette {
  position: fixed;
  top: calc(50% + 2rem + 20px);
  left: 0;
  transform: translate(0, -50%);
  max-width: calc(100% - 84px);
  max-height: 100%;
  z-index: 1;
}

#color-palette [data-main-child=true] {
  max-height: calc(100vh - 4rem - 40px);
  border-radius: 0 20px 20px 0;
  box-shadow: 0px 0px 10px 0px var(--dark);
}

#color-palette::after {
  content: '';
  display: block;
  position: absolute;
  left: calc(100% - 20px);
  top: calc(4rem + 40px);
  width: 20px;
  height: 64px;
  background-color: var(--light);
}

#color-palette-button {
  position: absolute;
  left: 100%;
  top: calc(4rem + 40px);
  padding: 20px;
  border-radius: 0 20px 20px 0;
  box-shadow: 0px 0px 10px 0px var(--dark);
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 99999px;
  border: 1px solid var(--dark);
  cursor: pointer;
}

